/* Fonts */
@font-face {
  font-family: 'Metropolis';
  src: url('../../public/fonts/Metropolis/Metropolis-SemiBold.woff2')
      format('woff2'),
    url('../../public/fonts/Metropolis/Metropolis-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis';
  src: url('../../public/fonts/Metropolis/Metropolis-Bold.woff2')
      format('woff2'),
    url('../../public/fonts/Metropolis/Metropolis-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis';
  src: url('../../public/fonts/Metropolis/Metropolis-Medium.woff2')
      format('woff2'),
    url('../../public/fonts/Metropolis/Metropolis-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../../public/fonts/OpenSans/OpenSans-Light.woff2') format('woff2'),
    url('../../public/fonts/OpenSans/OpenSans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../../public/fonts/OpenSans/OpenSans-Regular.woff2') format('woff2'),
    url('../../public/fonts/OpenSans/OpenSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../../public/fonts/OpenSans/OpenSans-Bold.woff2') format('woff2'),
    url('../../public/fonts/OpenSans/OpenSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  line-height: 1.5;
}

.container {
  width: 94.4%;
  max-width: 1344px;
  margin: 0 auto;
}

/* Header Styles */
.header {
  padding: 13px 0;
  border-bottom: 1px solid #ebf2f2;
  min-height: 3.25rem;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  width: 300px;
}

.header__right-section {
  display: flex;
  align-items: center;
}

.header__menu {
  display: flex;
  list-style: none;
}

.header__menu-item {
  position: relative;
  padding: 0.5rem 2rem 0.5rem 0;
  font-family: 'Metropolis', sans-serif;
  font-weight: 600;
  font-size: 0.95rem;
}

.header__menu-item:after {
  display: inline-block;
  content: ' ';
  transform: rotate(-45deg);
  border-bottom: 2px solid #111;
  border-left: 2px solid #111;
  border-radius: 1px;
  height: 6px;
  width: 6px;
  position: relative;
  bottom: 3px;
  left: 4px;
}

.header__menu-item a {
  text-decoration: none;
  color: #111;
}

.header__submenu {
  display: block;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: calc(100% + 16px);
  left: -10px;
  background: white;
  border: 0;
  box-shadow: 0 5px 30px 0 rgba(108, 135, 135, 0.5);
  font-family: Open Sans, sans-serif;
  font-size: 1rem;
  padding: 1rem;
  border-radius: 6px;
  transform: translateY(0);
  transition: opacity 0.2s ease, visibility 0.2s ease;
}

.header__submenu li {
  padding: 0.375rem 3rem 0.375rem 1rem;
  list-style-type: none;
}

.header__submenu-item {
  text-decoration: none;
  color: #111;
  font-weight: 300;
  font-size: 1rem;
  white-space: nowrap;
  transition: 0.1s;
}

.header__submenu-item:hover {
  color: #6db33f;
}

.header__submenu .is-link {
  color: #086dc3;
}

.header__submenu div.navbar-item {
  font-size: 0.8rem;
  font-weight: 300;
}

.header__menu-item:hover .header__submenu,
.header__menu-item .header__submenu:hover {
  opacity: 1;
  visibility: visible;
}

.header__toggle {
  width: 38px;
}

/* Intro Section */
.intro {
  padding: 76px 0 48px 0;
}

.intro__title {
  font-family: 'Metropolis', sans-serif;
  font-weight: 700;
  font-size: 3.5em;
}

.intro__description {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.2rem;
  margin-top: 5px;
  max-width: 960px;
}

.intro__button {
  background: transparent;
  border: 2px solid #111;
  border-radius: 0;
  color: #111;
  display: inline-block;
  font-family: inherit;
  font-size: 0.9rem;
  font-weight: 700;
  line-height: 20px;
  padding: 15px 30px;
  margin-top: 16px;
  position: relative;
  text-transform: uppercase;
  transition: color 0.2s ease-in-out;
  z-index: 1;
  cursor: pointer;
  overflow: hidden;
}

.intro__button::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: -1;
  transition: left 0.2s ease-in-out;
}

.intro__button:hover::before {
  left: 0;
}

.intro__button:hover {
  color: white;
}

/* Projects Section */
.projects {
  padding: 60px 0;
  background-color: #ebf2f2;
  line-height: 1.7rem;
  display: flex;
  justify-content: center;
}

.projects__container {
  max-width: 1084.796px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.projects-card {
  display: flex;
  background: white;
  border: 1px solid #d9e9e9;
  border-radius: 5px;
  height: 194.812px;
  padding: 34px 16px;
  padding-bottom: 3rem;
  transition: all 0.2s;
  word-wrap: break-word;
}

.projects-card:hover {
  box-shadow: 0 10px 20px 0 rgba(108, 135, 135, 0.2);
  text-decoration: none;
  top: -3px;
  transform: translateY(-3px);
  cursor: pointer;
}

.projects-card .project-card__image {
  min-width: 120px;
  padding-right: 20px;
  margin-right: 20px;
  position: relative;
  top: 5px;
  left: 3px;
}

.project-card__image img {
  height: 120px;
  max-width: 120px;
  display: block;
  width: 117.1px;
}

.projects__title {
  font-family: 'Metropolis', sans-serif;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.project-card__info {
  font-size: 1em;
  color: #666;
}

/* Hamburger Styles */
.hamburger {
  cursor: pointer;
  height: 48px;
  position: relative;
  width: 48px;
  transition: 0.4s cubic-bezier(0, 0, 0, 1);
  outline: none;
  z-index: 1001;
}

.hamburger__line {
  background: currentcolor;
  height: 2px;
  width: 24px;
  position: absolute;
  left: 12px;
  transition: 0.4s cubic-bezier(0, 0, 0, 1);
}

.hamburger__line:nth-child(1) {
  top: 16px;
}

.hamburger__line:nth-child(2) {
  top: 23px;
}

.hamburger__line:nth-child(3) {
  top: 30px;
}

.hamburger--active {
  color: white;
}

.hamburger--active .hamburger__line:nth-child(1) {
  transform: rotate(-45deg) translate(-4.93px, 4.93px);
}

.hamburger--active .hamburger__line:nth-child(2) {
  transform: scaleX(0);
}

.hamburger--active .hamburger__line:nth-child(3) {
  transform: rotate(45deg) translate(-4.93px, -4.93px);
}

/* Mobile Menu */

.mobile-menu {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #191e1e;
  color: #ccc;
  z-index: 99;
  padding: 3rem;
  overflow-y: auto;
  display: none;
  transition: top 5s ease;
}

.mobile-menu--active {
  display: block;
  top: 0;
}

.mobile-menu__item {
  color: white;
  cursor: pointer;
  position: relative;
  font-weight: 400;
  list-style-type: none;
}

.mobile-menu__title {
  display: block;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.4);
  margin: 1rem 0;
  font-size: 2rem;
  height: 60px;
}

.mobile-menu__item::after {
  border: solid #98afae;
  border-width: 0 2px 2px 0;
  content: ' ';
  display: block;
  height: 15px;
  position: absolute;
  right: 5px;
  top: 20px;
  transition: transform 0.2s ease-out;
  width: 15px;
  box-sizing: inherit;
  transform: rotate(45deg) translate(-5px, 5px) scale(1);
}

.mobile-menu__item--active::after {
  transform: rotate(45deg) translate(5px, 15px) scale(-1);
}

.mobile-menu__item:hover {
  color: #6db33f;
}

.submenu {
  display: none;
  list-style: none;
  box-sizing: inherit;
}

.submenu__item a {
  font-size: 1rem;
  color: #98afae;
  text-decoration: none;
  padding: 3.2px 0;
  font-size: 1.2rem;
  display: block;
}

.submenu__item a:hover {
  color: #9fc937;
}

.submenu--active {
  display: block;
}

/* Responsive Layout */
@media (max-width: 1215px) {
  .projects .projects-card {
    width: 372px;
    height: 276.422px;
    padding: 30px 20px;
  }

  .projects-card .image {
    min-width: 120px;
    margin-right: 0px;
  }

  .project-card__image img {
    height: 120px;
    max-width: 100px;
    display: block;
  }

  .projects-card {
    align-items: center;
  }
}

@media (max-width: 1080px) {
  .header {
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 1000;
    border-bottom: 1px solid #ebf2f2;
  }

  .header__container {
    margin: 0 12px;
    width: calc(100% - 16px);
  }

  .header__right-section {
    display: none;
  }

  .header__logo {
    width: 200px;
    position: relative;
    top: 2.5px;
  }

  .intro__description {
    font-size: 1.3rem;
  }

  .hamburger {
    display: block;
  }

  main {
    padding-top: 52px;
  }
}

@media (max-width: 1024px) {
  .projects .projects-card {
    width: 345.594px;
    height: 334.812px;
    flex-direction: column;
  }

  .projects-card .project-card__image {
    min-width: 120px;
    margin-bottom: 20px;
    margin-right: 0px;
  }

  .project-card__image img {
    height: 120px;
    max-width: 120px;
    display: block;
  }
}

@media (max-width: 800px) {
  .projects__container {
    grid-template-columns: 1fr;
  }

  .projects .projects-card {
    width: 90%;
    margin: 0 auto;
    height: 307.609px;
  }
}

@media screen and (max-width: 500px) {
  .projects .projects-card {
    width: 100%;
    padding: 20px 10px;
  }
}
